<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/search}" method="get">
    <input type="text" id="name" name="name">
    <input type="submit" value="Search">
</form>
<a th:href="@{/add-customer/}">Add customer</a>
<table border="1">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Province</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="customer:${customers}">
        <tr>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td th:text="${customer.province.name}"></td>
            <td><a th:href="@{/edit-customer/__${customer.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-customer/__${customer.id}__ }">Delete</a></td>

        </tr>

    </th:block>




</table>
<p>
    <a href="/provinces">Go to provinces</a>
</p>
</body>
</html>